<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElektrikDagıtım.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElektrikDagıtım.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="~/css/cssGenel.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img class="ms-3" src="https://st4.depositphotos.com/15580188/31430/v/450/depositphotos_314304926-stock-illustration-electric-logo-initials-o.jpg" width="50px" height="50px" />
                <a class="navbar-brand ms-2" asp-controller="Home" asp-action="AnaSayfa">ELEKTRİK DAĞITIM PROJESİ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Anasayfa">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                İşlemler
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Faturalar</a></li>
                                <li><a class="dropdown-item" href="#">Tahsilatlar</a></li>
                                @* <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                            </ul>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li> *@
                    </ul>

                    <ul class="d-flex">
                        @{
                            var user = ViewData["user"].ToString(); string[] words = user.Split(' '); string result = ""; foreach (string word in words)
                            {
                                result += char.ToUpper(word[0]) + word.Substring(1) + " ";
                            }
                            result = result.TrimEnd(); ;
                        }

                        <div class="navbar-text" style="margin-right:10px; margin-top:6px ">Hoşgeldin @result !</div>

                        <a class="btn btn-primary mt-2 me-3" type="button" asp-controller="home" asp-action="index">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Çıkış Yap
                        </a>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container">
            &copy; 2023 - ElektrikDagıtım.Web - Made by Y. KARAYEL
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

