@model Mesajlar<AnaSayfaYetki>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .input-group-text {
        background-color: #0d497e;
        color: #fff;
    }

    #txtAra {
        height: 45px;
    }

</style>



<div class="container p-4">
    <div class="elektrikBaslik font-weight-bold mt-4">
        <br />
      
    </div>

    <div class="row">

        <div class="col-md-12 input-group">

            <div class="input-group mb-3">

                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>

                <input id="txtAra" type="text" class="form-control txtIcon" placeholder="Arama ifadesi giriniz" aria-describedby="basic-addon1">
            </div>

        </div>

    </div>

</div>
<div class="container">
    <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
            <div id="dvModul" class="row">
            </div>
        </section>
    </div>
</div>

<script>
    var gecmodel = @Html.Raw(Json.Serialize(@Model));
</script>
<script src="~/js/home/anasayfa.js"></script>